<div class="container">
  <h1 class="row justify-content-center">View post</h1>
      <div class="card text-center shadowp mt-3">
        <div class="card-header">
            by <em><%= link_to @post.user.username, user_path(@post.user) %></em>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-text"><%= @post.description %></p>
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success" %><br>
          <%= link_to '[Back to listings page]', home_path %>
        </div>
        <div class="card-footer text-muted">
          <%= time_ago_in_words(@post.created_at) %>ago
        </div>
      </div>
</div>